{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><i>umamedical.com</i></h1>
      <p>umaamedical.com is an Indian medicine commerce company based in Bilaspur,(Chattisgarh), India. Founded by Pratik Gupta, Company initially focusing on  all types of medicines.
      Mr. Pratik gupta , he is a well know pharmacist.Always there to help you eagerly.

      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Reasonable Prices and Genuine products.</h2>
        <p> Here we believe in providing the best services to our customers.So we provide you the genuine products at very reasonable prices.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Home delivery.</h2>
        <p>We provide the doorstep delivery.In the time of pandemic,no need to come out of your home for medicines.We provide sanitized products and the delivery at your door.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>All type of payment facilities.</h2>
        <p>Here we take care of our customers need and privacy.And also we provide all types of payment services.You get every type of facility,from cash on delivery to paytm-upi.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
